---
---

.blog-tags-list li:hover span{
  width:20px;
  color: #FFF;
}


.blog-tags-list {
  padding: 0;
  list-style-type: none;
}

.blog-tags-list li {
  display: inline-block;
  margin-bottom: 5px;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: black;
  padding: 3px;
  text-decoration: none;
  border: 1px solid lightgrey;
}

.blog-tags-list li>a {
  display: block;
  padding: 5px;
}

.blog-tags-list li>a:hover {
  text-decoration: none;
}

.blog-tags-list li.active {
  display: inline-block;
  margin-bottom: 5px;
  background-color: #ff8900;
  border-radius: 5px;

}

.blog-tags-list li.active>a {
  display: block;
  color: white;
  text-decoration: none;
}


.blog-item-date {
  padding-right: 5px;
  font-family: 'Inconsolata';
  color: #999;
}


/* End tags */

