
        <div class="footer-content">
            <div class="footer-content-row layout-2-cols">
                <div class="footer-content-row-left">
                    <div class="footer-logo">
                        <a href="http://www.ringcentral.com">
                            <span>Back to the main site</span>
                        </a>
                    </div>
                </div>
                <div class="footer-content-row-right">
                    <ul class="footer-text-links">
                        <li class=""><a href="http://www.ringcentral.com/legal.html" target="_blank"><span>Legal</span></a>
                        </li>
                        <li class=""><a href="http://www.ringcentral.com/security-statement.html" target="_blank"><span>Security Policy</span></a>
                        </li>
                        <li class=""><a href="http://www.ringcentral.com/legal/privacy-policy.html" target="_blank"><span>Privacy Policy</span></a>
                        </li>
                        <li class=""><a ng-href="https://devcommunity.ringcentral.com" target="_blank" href="https://devcommunity.ringcentral.com"><span>Community</span></a>
                        </li>
                        <li class="" ><a href="https://medium.com/ringcentral-developers" target="_blank"><span>Blog</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-content-row footer-content-row-last layout-2-cols">
                <div class="footer-content-row-left">
                    <span class="footer-copyright">
                       © 1999-<span class="footer-copyright-to ng-binding" ng-bind="::main.nowObj|date:'yyyy'">2017</span> RingCentral, Inc. All rights reserved.
                    </span>
                </div>
                <div class="footer-content-row-right">
                    <div class="footer-image-links">
                        <div class="footer-image-link footer-image-link-facebook">
                            <a target="_blank" href="http://www.facebook.com/ringcentral">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="footer-image-link footer-image-link-twitter">
                            <a target="_blank" href="http://twitter.com/ringcentraldevs">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="footer-image-link footer-image-link-google-plus">
                            <a target="_blank" href="https://www.google.com/+ringcentral">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                        <div class="footer-image-link footer-image-link-linkedin">
                            <a target="_blank" href="http://www.linkedin.com/company/ringcentral">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="footer-image-link footer-image-link-youtube">
                            <a target="_blank" href="http://www.youtube.com/ringcentral">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>